#heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

#buttons {
	background-color: lightgray;
	border: 2px solid black;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

h1 {
	text-align: center;
	background-color: darkblue;
	padding: 20px;
	color: white;
	width: 300px;
	font-family: Helvetica;
	border: 3px solid black;
	border-radius: 15px;
}

input[type="!button"], input[type="date"], select, form > input[type="button"] {
	margin-right: 8px;
	margin-top: 10px;
}

input[type="date"] {
	margin-bottom: 10px;
}

input[type="submit"] {
	margin-top: 30px;
}

input[type="number"] {
	width: 100px;
	margin-right: 8px;
}

form {
	position: relative;
}
input[type="radio"] {
	margin: 0px 5px 0 0;
}

label {
	margin-right: 6px;
}

#datafield {
	display: flex;
	flex-direction: column;
	width: 675px;
	margin: 0 auto;
	position: static;
	margin-top: 25px;
	background-color: lightgray;
	padding: 10px;
	padding-bottom: 25px;
	border: 2px solid black;
}

p {
	align-self: flex-start;
}

.flex-centered {
	align-self: center;
}

input[type="button"].last-button {
	margin-right: 0px;
}

.add-button {
	width: 54px;
}